@import "colourPalette.css";

.filter_buttons {
    display: flex;
}

#packetsTab_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--light-blue);
    color: var(--white);
    font-size: 12px;
    text-transform: uppercase;
}

#packetsTab_header div {
    text-align: center;
}

#packetsTab_header_filterInput {
    border-radius: 5px;
    border: 1.5px solid #fff;
    margin: 2px;

}

#packetsTab_header_filtersList {
    position: absolute;
    border: 1px solid grey;
    z-index: 1;
    color: var(--black);
    text-transform: none;
}

#packetsTab_header_filtersList * {
    display: inline-block;
    background-color: white;
    width: 100%;
    color: black;
    word-wrap: break-word;

}

#packetsTab_header_filtersList *:hover {
    color: var(--white);
    background-color: #4682b4;
}

#packetsTab_body {
    position: relative;
    overflow: auto;
}

#packetDetailsDialog_hacRx_debugTrace .evenOddTable thead tr th {
    padding: 0 10px;
}

.evenOddTable thead td:nth-child( odd ) {
    background-color: rgb(175, 197, 240);
}

.evenOddTable thead td:nth-child( even ) {
    background-color: white;
}

.evenOddTable tbody tr:nth-child( odd ):not( .selected ) {
    background-color: rgb(240, 245, 255);
}

.evenOddTable tbody tr:nth-child( even ):not( .selected ) {
    background-color: white;
}

.packetTable_element_tr_even{
    background-color: rgb(240, 245, 255);
}

.packetTable_element_tr_odd{
    background-color: white;
}

.packetTable_element_td {
    padding: 0 6px 0 6px;
    min-width: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 230px;
    overflow: hidden;
    border-right: 1px solid rgb(175, 197, 240);
}

.evenOddTable_header_colTypes{
    color: gray;
}

#columnDetailsDialog_valuesTable tbody tr td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 1px 3px;
}

#columnDetailsDialog_valuesTable thead tr td {
    padding: 3px;
}

#packetDetailsDialog_propTable tbody {
    max-width: 500px;
    word-wrap: normal;
    overflow-wrap: break-word;
    font-size: 90%;
}

#packetDetailsDialog_propTable span.unaltered {
    color: grey;
}

#packetDetailsDialog_payload div {
    font: 13px 'Courier New', monospace;
    white-space: pre-wrap;
}

#packetDetailsDialog_payload div span {
    color: grey;
}

#columnDetailsDialog_columnName {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#columnDetailsDialog_columnType {
    text-align: center;
    width: 100%;
    font-style:italic;
    color: gray;
}

#columnDetailsDialog_valuesTable_container {
    overflow: auto;
    max-height: 200px;
}

#columnDetailsDialog_totalValues {
    text-align: center;
 }


#columnDetailsDialog_valuesTable thead td {
    padding: 10px 0 1px 0;
    vertical-align: bottom;
    text-align: center;
    font-size: 14px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    max-height: 230px;

}
#columnDetailsDialog_valuesTable{
    display: block;
    overflow: auto;
}

#columnDetailsDialog_graph_noDataMessage {
    text-align: center;
}

#columnDetailsDialog_graph {
    text-align: center;
}

#columnDetailsDialog_graph_options, .gear_options, #gear-icon {
    width: 20px;
    height: 20px;
}

.gear_options {
    right: 0;
    position: absolute;
}

#packetTable thead td {
    padding: 10px 0 1px 0;
    vertical-align: bottom;
    text-align: center;
    font: 13px Verdana, sans-serif;
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
}

.viewToggle thead td > div{
    display: flex;
    height: 230px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.viewToggle thead td > div > div {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    max-height: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#packetTable thead td span.unaltered {
    color: grey;
}

#packetTable tbody tr {
    font: 11px Verdana, sans-serif;
}

#packetTable tbody tr.selected {
    background-color: yellow !important;
}

#packetTable tbody tr.comparing {
    background-color: #92c87f !important;
}

#packetTable tbody tr:hover{
    background-color: #c8d7f5;
    /* background-color: red; */
}

#comparePacketsDialog_propTable tbody tr.different {
    background-color: #f5a9ab;
}

#comparePacketsDialog_propTable tbody td {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#packetTable tbody tr.malformed, #packetDetailsDialog_propTable tbody tr.malformed, #analyzeDialog_ppaas_job_detection tbody tr.malformed {
    background-color: #ff9999;
}

#packetTable tbody tr.warning {
    background-color: #ffcc00;
}


.packetTable_element_td .unaltered {
    overflow: hidden;
    color: grey;
}

.packetTable_element_td:hover {
    background-color: #8baff7;
    cursor: pointer;
}



#packetTable thead td:hover {
    background-color: #89aaec;
    cursor: pointer;
}

#packetsTabCustomizeDialog_visibleColumnsTableWrapper {
    max-height: 500px;
    overflow-y: auto;
}

#no_packets {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

#no_packets>h1{
    display: block;
    margin-top: 15%;
}

.pm_header {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.pm_header_arrow {
    font-size: 1.4rem;
    user-select: none;
}

.register_header {
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 1rem;
    cursor: pointer;
}

.pm_file_hex_dump {
    font-size: 1rem;
    text-align: center;
}

.field {
    font-size: 0.8rem;
    font-weight: normal;
    margin-left: 2rem;
    cursor: default;
}

.job_detection > table{
    width: 100%;
}

#columnDetailsDialog_graph_canvas {
    margin: auto;
    cursor: pointer; 
}

#cellContextMenuDialog .dialog_body {
    min-width: 15vw;
}

.cellContextMenuDialog_header {
    text-align: center;
}

.highlights {
    border: black 1px solid !important;
}

#dialog_body_hideConstCols_container{
    display: flex;
    justify-content: center;
}

.graph-hover-point-text {
    position: absolute;
    z-index: 100;
    background-color: var(--light-cyan);
    font-size: 12px;
    padding: 2px;
    border: 1px solid black;
    white-space: pre-line;
    border-radius: 5px;
}

.graph-hover-point-highlight {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: red;
    pointer-events: none;
    z-index:100;
}

#analyze-filtered-packets-checkbox {
    margin: 10px 5px;
}

.hoverElement {
    cursor: pointer;
    display: inline;
}

#extraInfoModal {
    position: absolute;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.modalHidden {
    display: none;
}

.hoverSuccess{
    color: green;
}

.hoverError{
    color: red;
}
.hoverWarning{
    color: orange;
}

#compare_button:disabled {
    color: var(--white);
    border: 1px solid var(--teal) !important;
    background-color: var(--teal) !important;
    cursor: not-allowed !important;
}

.compare_button_tooltip {
    display: inline-block;
}

.compare_button_tooltip .compare_button_tooltip_text {
    visibility: hidden;
    width: auto;
    background-color: var(--gray);
    color: white;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity .25s;
}

.compare_button_tooltip:hover .compare_button_tooltip_text {
    opacity: 1;
    visibility: visible;
}

.compare_delete {
    cursor: pointer;
    margin-right: 5px;
    float: right;
}

#packetsTabCompareDialog_propertiesNotCompared {
    margin-bottom: 10px;
}

.empty_val {
    background-color: #f1c794;
}